.breadcrumb-bkg {
  background: #F8F3F4;
}

.breadcrumb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breadcrumb-leftpart {
  margin: 60px 0;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.shopping-content {
  display: flex;
  margin-top: 93px;
}

.countblock {
  display: flex;
  flex-direction: column;
  margin-left: 128px;
}

.address-form {
  display: flex;
  flex-direction: column;
}

.shopping-card {
  display: flex;
  margin-bottom: 40px;
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  max-width: 652px;
}

.shopping-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 68px;
}

.address-form-button {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0 57.5px;
}

.cardbox {
  margin-bottom: 124px;
}

.card-pic {
  width: 262px;
}

.text-box {
  padding: 22px 31px;
  background: #FFFFFF;
}

.card-close {
  background: #FFFFFF;
  padding: 26px 23px 22px 75px;
}

.card-header {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 41px;
  color: #222222;
}

.card-data {
  font-size: 22px;
  line-height: 32px;
  color: #575757;
}
.card-data .price-span {
  color: #F16D7F;
}

.product-count {
  margin-left: 24px;
  width: 44px;
  border: 1px solid #EAEAEA;
  color: #656565;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
}

.shopping-btn, .quote-btn {
  display: block;
  text-decoration: none;
  border: 1px solid #A4A4A4;
  color: #000000;
  background: #FFFFFF;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  padding: 17px 40px;
}

.quote-btn {
  padding: 11px 15px;
  color: #4A4A4A;
  font-size: 11px;
  line-height: 13px;
  cursor: pointer;
}

.address-form-header {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin: 16px 0 10.5px;
}

.address-input, .address-country {
  margin: 10px 0;
  padding: 13px 17px 15px;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  border: 1px solid #A4A4A4;
  width: 360px;
}

.address-country {
  font-weight: 300;
  color: #B1B1B1;
}

.calculator {
  padding: 39px 43px 42px 44px;
  background: #F5F3F3;
}

.subtotal {
  color: #4A4A4A;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  margin-right: -8px;
}

.total {
  color: #222222;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  margin: 12px -5px 21px 0;
}

.sum {
  margin-left: 22px;
}

.grandsum {
  color: #F16D7F;
  margin-left: 21px;
}

.upon-button {
  border-top: 1px solid #E2E2E2;
  padding-top: 17px;
}

.main-btn {
  display: block;
  padding: 15px 42px 16px 41px;
  text-decoration: none;
  color: #FFFFFF;
  background: #F16D7F;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.main-btn:hover {
  color: #F16D7F;
  background: #FFFFFF;
}

.card-close-img:hover {
  transform: scale(1.4);
}