.breadcrumb-bkg {
    background: #F8F3F4;
}

.breadcrumb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.breadcrumb-leftpart {
    margin: 60px 0;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.breadcrumb-rightpart {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.breadcrumb-current {
    font-weight: 700;
    color: #F16D7F;
}

.filter-icon {
    width: 15px;
    height: 10px;
    margin: 0 11px;
}

.filter-n-sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 768px;
    font-size: 14px;
}

.filter-n-sort__filter {
    margin: 51px 0;
    font-weight: 600;
    color: black;
}

.filter-n-sort__sort {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #6F6E6E;
}

.sort-btn {
    margin-right: 28px;
}

.downbtn {
    width: 10px;
    height: 5px;
}