.breadcrumb-bkg {
    background: #F8F3F4;
}

.breadcrumb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.breadcrumb-leftpart {
    margin: 60px 0;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.breadcrumb-rightpart {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.breadcrumb-current {
    font-weight: 700;
    color: #F16D7F;
}

.filter-icon {
    width: 15px;
    height: 10px;
    margin: 0 11px;
    fill: black;
}

.filter-n-sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 718px;
    font-size: 14px;
    height: 112px;
}

.filter-n-sort__filter {
    padding-left: 15px;
    font-weight: 600;
    color: black;
    position: relative;
    list-style-type: none;
    height: auto;
    width: 360px;
}

.filter-head {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.filter-menu-list {
    display: none;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: normal;
    color: #6F6E6E;
    position: absolute;
    left: 0;
    top: -9px;
    width: 360px;
    z-index: 1;
    background: white;
    padding: 10px 17px 0;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    font-size: 14px;
    line-height: 17px;
}

.filter-menu-head .filter-head {
    font-weight: 600;
    color: #EF5B70;
}

.filter-menu-head .filter-icon {
    fill: #EF5B70;
}

.filter-menu-elem-summary {
    padding: 11px;
    margin: 14px 0;
    font-size: 14px;
    border-bottom: 1px solid #ebebeb;
    border-left: 5px solid #EF5B70;
    display: block;
}

.filter-n-sort__filter:hover .filter-menu-list {
    display: block;
}

.filter-n-sort__sort {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #6F6E6E;
    list-style-type: none;
}

.featured-items {
    margin-top: 16px;
}

.sort-details-arrow {
    margin-left: 11px;
}

.sort-btn {
    margin-right: 26px;
    position: relative;
}

.downbtn {
    width: 10px;
    height: 5px;
}

.card-block {
    margin-bottom: 31px;
}

.card-text {
    margin-bottom: 21px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 18px 0 95.5px;
}

.pagination-btns {
    display: flex;
    align-items: center;
    list-style-type: none;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    padding: 0 16px;
    height: 43px;
}

.left-arrow {
    width: 8px;
    height: 14px;
}

.right-arrow {
    width: 8px;
    height: 14px;
    transform: rotate(180deg);
}

.page {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin: 12px;
    color: darkgray;
}

.active-page {
    color: #EF5B70;
}

.pagination-link {
    text-decoration: none;
    color: inherit;
}

.category-menu {
    display: none;
    padding: 1px 17px;
    margin-bottom: -5px;
    list-style-type: none;
    text-transform: capitalize;
    transition: 0.5s;
}

.category-menu-elem {
    margin: 11px 0;
}

.category-menu-link {
    text-decoration: none;
    color: inherit;
}

.filter-menu-elem:hover .category-menu {
    display: block;
}

.size-menu {
    list-style-type: none;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #6f6e6e;
    padding: 1px 10px 10px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    width: 79px;
    position: absolute;
    left: -7px;
    z-index: 1;
    background: white;
    display: none;
}

.sort-btn:hover .size-menu {
    display: block;
}

.checkbox {
    width: 12px;
    height: 12px;
    margin: 5px;
    border: 1px solid #ebebeb;
}