@media (min-width: 1140px) {
    .growstopper {
        max-width: 1140px;
        margin: 0 auto;
    }
    .megastopper {
        max-width: 1600px;
        margin: 0 auto;
    }
    .midfootersec_bkg {
        background: #ededed;
    }
    .upfooter {
        flex-direction: row;
        justify-content: space-between;
    }
    .midfooter_container {
        background: rgba(244, 244, 244, 0.7) url('img/layer41.full.png');
        background-position-y: bottom;
        background-repeat: no-repeat;
    }
    .midfooter {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 96px 0 153px;
    }
    .leftpart {
        margin-left: 0;
    }
    .rightpart {
        margin-right: 0;
    }
    .no-phone_pic {
        margin: 0 11px;
    }
    .goods {
        right: 0;
    }
    .desktop_mod {
        margin: 0 18px;
    }
    .header {
        min-height: 759px;
        background-image: url('img/headman-huge.png');
        background-size: contain;
        background-position-x: -227px;
        align-items: flex-start;
        padding: 287px 103px 0 0;
    }
    .header__text {
        padding-left: 19px;
    }
    .site-header {
        font-size: 48px;
        line-height: 60px;
    }
    .site-subheader {
        line-height: 32px;
        font-size: 32px;
        padding-bottom: 2px;
    }
    .prop {
        margin-top: 60px;
        margin-bottom: 90px;
        padding: 0;
    }
    .prop__item_longcard {
        margin: 28px 8px 8px;
    }
    .featured-items-header {
        margin-bottom: 28px;
    }
    .featured-items {
        margin-top: 28px;
    }
    .featured-items__card {
        margin-top: 23px;
    }
    .browse-button {
        margin-top: 17px;
        margin-bottom: 93px;
    }
    .upfooter {
        padding: 81px 0 75px;
    }
    .midfooter__form {
        margin-top: 53px;
        margin-right: 96px;
    }
    .midfooter__subpictext {
        width: 362px;
    }
    .form__header {
        line-height: 45px;
    }
    .form__subheader {
        line-height: 18px;
        margin-bottom: 35px;
    }
    .downfooter {
        padding: 0;
    }
}