@media (min-width: 1140px) {
    body {
        overflow-x: hidden;
    }
    .growstopper {
        max-width: 1140px;
        margin: 0 auto;
    }
    .megastopper {
        max-width: 1600px;
        margin: 0 auto;
    }
    .midfootersec_bkg {
        background: #ededed;
    }
    .upfooter {
        flex-direction: row;
        justify-content: space-between;
    }
    .midfooter_container {
        background: rgba(244, 244, 244, 0.7) url('img/layer41.full.png');
        background-position-y: bottom;
        background-repeat: no-repeat;
    }
    .midfooter {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 96px 0 153px;
    }
    .leftpart {
        margin-left: 0;
    }
    .rightpart {
        margin-right: 0;
    }
    .no-phone_pic {
        margin: 0 11px;
    }
    .goods {
        right: 0;
    }
    .desktop_mod {
        margin: 0 18px;
    }
    .header {
        min-height: 759px;
        background-image: url('img/headman-huge.png');
        background-size: contain;
        background-position-x: -227px;
        align-items: flex-start;
        padding: 287px 103px 0 0;
    }
    .menu-anchor {
        position: relative;
    }
    .header__text {
        padding-left: 19px;
    }
    .site-header {
        font-size: 48px;
        line-height: 60px;
    }
    .site-subheader {
        line-height: 32px;
        font-size: 32px;
        padding-bottom: 2px;
    }
    .prop {
        margin-top: 60px;
        margin-bottom: 97px;
        padding: 0;
    }
    .featured-items-header {
        margin-bottom: 28px;
    }
    .featured-items {
        margin-top: 52px;
        justify-content: space-between;
    }
    .featured-items__card {
        margin-top: 23px;
    }
    .browse-button {
        margin-bottom: 93px;
    }
    .upfooter {
        padding: 81px 0 75px;
    }
    .midfooter__form {
        margin-top: 53px;
        margin-right: 96px;
    }
    .midfooter__subpictext {
        width: 362px;
    }
    .form__header {
        line-height: 45px;
    }
    .form__subheader {
        line-height: 18px;
        margin-bottom: 35px;
    }
    .downfooter {
        padding: 0;
    }
    .prop__item {
        width: 31.5%;
        margin: 10px 0 -10px;
    }
    .prop__item_longcard {
        margin: 40px 0 0;
    }
    .menu-off {
        font-size: 14px;
        line-height: 17px;
        background: white;
        position: absolute;
        right: -310px;
        top: 0;
        width: 232px;
        height: 759px;
        padding: 0 0 33px 33px;
        z-index: 1;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        transition: right 0.3s linear;
    }
    .menu-on {
        font-size: 14px;
        line-height: 17px;
        background: white;
        position: absolute;
        right: 0;
        top: 0;
        width: 232px;
        height: 759px;
        padding: 0 0 33px 33px;
        z-index: 1;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        transition: right 0.3s linear;
    }
    .close-btn-container {
        display: flex;
        justify-content: flex-end;
    }
    .close-btn {
        width: 12px;
        height: 12px;
        margin: 16px;
    }
    .close-btn:hover {
        transform: scale(2);
    }
    .submenu {
        padding: 22px;
    }
    .menu-main-header {
        text-transform: uppercase;
        padding: 12px 0;
    }
    .menu-header {
        text-transform: uppercase;
        color: #F16D7F;
        margin: 12px 0;
    }
    .menu-elem {
        text-transform: capitalize;
        text-decoration: none;
        color: #6f6e6e;
        display: block;
        margin-top: 11px;
    }
}