@media (min-width: 768px) {
    .no-phone {
        display: block;
    }
    .no-phone_pic {
        margin: 0 23px;
    }
    .cart {
        position: relative;
        display: block;
    }
    .goods {
        font-size: 12px;
        line-height: 14px;
        color: white;
        background: #F16D7F;
        border-radius: 50%;
        position: absolute;
        right: 14px;
        top: -7px;
        padding: 2px 0;
        width: 19px;
        height: 19px;
        text-align: center;
    }
    .leftpart {
        margin-left: 32px;
    }
    .rightpart {
        display: flex;
        margin-top: 9px;
    }
    .header {
        justify-content: flex-end;
        padding-right: 34px;
        background-image: url('img/headman.png');
        background-repeat: no-repeat;
        min-height: 368px;
    }
    .site-header {
        font-size: 44px;
        line-height: 53px;
    }
    .site-subheader {
        font-size: 24px;
        line-height: 15px;
        padding-bottom: 15px;
    }
    .prop {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 8px;
        margin: 13px 0 149px;
    }
    .prop__item {
        width: 31%;
        margin: 8px;
    }
    .prop__card {
        min-width: 232px;
        min-height: 167px;
        aspect-ratio: 232 / 167;
        background-size: cover;
    }
    .prop__longcard {
        min-width: 735px;
        min-height: 116px;
        aspect-ratio: 735 / 116;
        background-size: cover;
    }
    .bkg_categories {
        background-image: url('img/categories.long.jpeg');
    }
    .prop__item_longcard {
        width: 100%;
        margin: 8px;
    }
    .featured-items-header {
        margin: 48px 10px 66px 0;
    }
    .featured-items {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .browse-btn {
        margin: 27px 0 0;
    }
    .upfooter {
        padding-bottom: 39px;
    }
    .upfooter__item {
        margin-top: 23px;
    }
    .upfooter__item__header {
        margin: 14px 0 0 -6px;
    }
    .midfooter {
        padding: 64px 0 140px;
    }
    .midfooter__form {
        margin: 79px 0 0 -5px;
    }
    .midfooter_container {
        background-position-x: -368px;
        background-position-y: 67px;
    }
    .midfooter__img {
        width: 96px;
    }
    .midfooter__subpictext {
        font-size: 20px;
        line-height: 24px;
    }
    .form__subheader {
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 22px;
    }
    .downfooter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 29px 0 31px;
    }
    .form__input {
        height: 50px;
        width: 253px;
        margin-left: 13px;
        padding-left: 19px;
    }
    .form__subscribe {
        height: 50px;
        width: 102px;
    }
    .socials {
        padding: 23px 0;
    }
    .copyright {
        order: -1;
    }
}