.breadcrumb
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    min-height: 148px
    &-bkg
        background: #F8F3F4
    &-leftpart
        margin: 24px 0
        font-size: 24px
        line-height: 29px
        color: #F16D7F
    &-rightpart
        font-weight: 300
        font-size: 14px
        line-height: 17px
        margin: 8px 0 46px
        color: #636363
    &-current
        font-weight: 700
        color: #F16D7F
