.downfooter
    padding: 0 0 9px
    &-bkg
        background: #222224

.socials
    display: flex
    justify-content: center
    padding: 42px 0 39px
    & a
        text-decoration: none

.social-item
    margin: 0 3.5px
    background-color: white
    color: black
    width: 32px
    height: 32px
    display: flex
    align-items: center
    justify-content: center
    &:hover
        background-color: #F16D7F
        color: white

.copyright
    font-size: 16px
    line-height: 19px
    color: #FBFBFB
    text-align: center
    letter-spacing: 0.3px
