.header
    min-height: 363px
    display: flex
    justify-content: center
    align-items: center
    &-link
        text-decoration: none
    &-bkg
        background: #F1E4E6
    &__text
        padding-left: 14px
        border-left: 12px solid #F16D7F

.site
    &-header
        text-transform: uppercase
        color: #222222
        font-weight: 900
        font-size: 38px
        line-height: 41px
    &-subheader
        text-transform: uppercase
        color: #222222
        font-weight: bold
        font-size: 20px
        line-height: 20px
        &__span
            color: #F16D7F
