@import "init"
@import "top-header"
@import "breadcrumbs"
@import "filter-n-sort"
@import "featured-items"

.featured-items
    margin-top: 16px

.card-block
    margin-bottom: 31px

.card-text
    margin-bottom: 21px

@import "pagination"
@import "upfooter"
@import "middle-footer"
@import "downfooter"

@media (min-width: 768px)
    @import "top-header-tablet"
    @import "breadcrumbs-tablet"
    @import "featured-items-tablet"
    @import "upfooter-tablet"
    @import "middle-footer-tablet"
    @import "downfooter-tablet"

@media (min-width: 1140px)
    @import "init-desktop"
    @import "top-header-desktop"
    @import "breadcrumbs-desktop"
    @import "featured-items-desktop"
    @import "upfooter-desktop"
    @import "middle-footer-desktop"
    @import "downfooter-desktop"
